/Semana 1/clase22072026/nbproject/private/
/Semana 1/clase22072026/build/
/Semana 2/clase_27072026/nbproject/private/
/Semana 2/clase_27072026/build/
/Semana 3/clase_03072026/nbproject/private/
/Semana 3/clase_03072026/build/
